@{
    ViewData["Title"] = "DistribuidorMundo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Distribuidores del Mundo</h1>
<br />
<div class="text-center">
    <h1 class="display-4">Amazon.com Inc.</h1>
    <p>Corporación multinacional de tecnología y comercio electrónico con sede en Estados Unidos, conocida por su amplia gama de productos y servicios en línea.</p>
    <img src="https://i0.wp.com/blogs.unsw.edu.au/nowideas/files/2018/03/amazon.jpg?fit=840%2C440&ssl=1" alt="Amazon Logo">
</div>
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Alibaba Group Holding Ltd.</h1>
    <p>Empresa de tecnología y comercio electrónico con sede en China, especializada en ventas al por mayor y minorista en línea, así como en servicios de computación en la nube y de pago en línea.</p>
    <img src="https://www.ecommercenews.pe/wp-content/uploads/2017/09/alibaba-810x461.jpg" alt="Alibaba Logo">
</div>
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Target Corporation</h1>
    <p>Cadena estadounidense de grandes almacenes, conocida por su amplia selección de productos de moda, hogar y electrónica.</p>
    <img src="https://licensinginternational.org/wp-content/uploads/2021/05/Industry-05192021-Target-Logo.jpg" alt="Target Logo">
</div>
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Carrefour S.A.</h1>
    <p>Corporación multinacional francesa de distribución minorista, una de las mayores cadenas de supermercados del mundo.</p>
    <img src="https://www.tradeyretail.com/img/d485ee57fad3c4c6e5685b7e08edeb44.png" alt="Carrefour Logo">
</div>


