@{
    ViewData["Title"] = "DistribuidorPeruano";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Distribuidores Peruanos</h1>
<br />
<div class="text-center">
    <h1 class="display-4">Supermercados Peruanos S.A.</h1>
    <p>Empresa peruana de distribución minorista, con una amplia presencia en todo el país, ofreciendo una variedad de productos para el hogar y alimentos.</p>
    <img src="https://media.licdn.com/dms/image/D4D0BAQEraRsvTwXmFA/company-logo_200_200/0/1662566299226?e=2147483647&v=beta&t=Yb8cSXnkEj075fsMNcbXGtrIw7C3ptDSFVaBf0EyogA" alt="Supermercados Peruanos Logo">
</div>
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">InRetail Peru Corporation S.A.</h1>
    <p>Corporación peruana que opera en el sector minorista, con marcas reconocidas en moda, belleza y hogar.</p>
    <img src="https://gestion.pe/resizer/-TPdzFEgQARAUC0pnEQpvP0qjnQ=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/AQWP62BP7FEEZDBHZYSIOUHBTY.jpg" alt="InRetail Peru Corporation Logo">
</div>
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Saga Falabella S.A.</h1>
    <p>Empresa peruana líder en el sector retail, ofreciendo productos de moda, hogar, tecnología y más.</p>
    <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgJylDzk2R68cRJFzW19CEE46sYcOEKGZ7VVtHAY5VegnKKh7iSbWMRtqdSNbIPcDHfApLxH9dSAifv-FeH0GzLfnt-o_LsAP9U-J5UGPtylnA_2zdSd9sTvVUGbu-jd_hzpC9j0sQ9pmQ/s1600/saga-falabella_f.png" alt="Saga Falabella Logo">
</div>
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Plaza Vea</h1>
    <p>Cadena de supermercados peruana, comprometida con ofrecer productos de calidad a precios accesibles para los consumidores peruanos.</p>
    <img src="https://peruretail.sfo3.cdn.digitaloceanspaces.com/wp-content/uploads/plaza-vea-new-1.png" alt="Plaza Vea Logo">
</div>

