@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Examen T2: Diseño y arquitectura de software</h1>
    <p>Santa Cruz Laynes Jeferson Esteban - N00270951 </p>
</div>
